<footer
  class="goof-footer"
  style="
    background-color: #9e9b9b;
    color: black;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
  "
>
  <div class="container">
    <p>© 2023 StayEase. All rights reserved.</p>
    <p>Created by atharv Kulkarni</p>

    <div class="row">
      <div class="col-md-12">
        <div class="social-links">
          <a
            href="https://www.instagram.com/stayease/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa-brands fa-instagram fa-2x" style="margin-right: 10px"></i
          ></a>
          <a
            href="https://www.facebook.com/stayease/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa-brands fa-facebook fa-2x" style="margin-right: 10px"></i
          ></a>
          <a
            href="https://twitter.com/stayease"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa-brands fa-twitter fa-2x" style="margin-right: 10px"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
