<footer
  style="
    background-color: #f2f2f2;
    color: #333;
    padding: 25px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  "
>
  <div class="container">
    <p style="margin: 0; font-size: 15px;">© 2023 <strong>StayEase</strong>. All rights reserved.</p>
    <p style="margin: 5px 0 20px;">Created by <strong>Atharv Kulkarni</strong></p>

    <div class="social-links" style="margin-top: 10px;">
      <a
        href="https://www.instagram.com/stayease/"
        target="_blank"
        rel="noopener noreferrer"
        style="color: #FF5A5F; margin: 0 12px;"
        ><i class="fa-brands fa-instagram fa-2x"></i
      ></a>
      <a
        href="https://www.facebook.com/stayease/"
        target="_blank"
        rel="noopener noreferrer"
        style="color: #FF5A5F; margin: 0 12px;"
        ><i class="fa-brands fa-facebook fa-2x"></i
      ></a>
      <a
        href="https://twitter.com/stayease"
        target="_blank"
        rel="noopener noreferrer"
        style="color: #FF5A5F; margin: 0 12px;"
        ><i class="fa-brands fa-twitter fa-2x"></i
      ></a>
    </div>
  </div>
</footer>
