<% layout('/layouts/boilerPlate') -%>
<body>
  <form action="/listings/new" method="get">
    <button>Add Listing</button>
  </form>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
    <% for(let list of listingData){ %> <% if (list && list.title) { %>
    <div class="card col" style="width: 18rem">
      <img src="<%= list.image %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 style="color: black"><%= list.title %></h5>
        <p><%= list.price.toLocaleString("en-IN") %></p>
      </div>
    </div>

    <% } %> <% } %>
  </div>
</body>
